#title-card {
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;

}

#submit-button {
    background-color: rgb(48, 146, 146);
    color: white;
}

#forecast-card {
    float: left;
    text-align: center;
    padding: 0;
}

.card-body {
    margin: 0;
    padding: 0;
    background-color: rgb(157, 228, 175);
    font-style: bold;
}

.row-no-padding {

    margin-left: 0;
    margin-right: 0;
}

#left-col {
    margin-right: 0;
    float: left;
    
}

#mid-col {
    margin-left: 0;
    margin-right: 0;

}

#right-col {
    margin: 0;

}

#data-container {
    padding: 0;
    border: solid 2px black;
    background-color: rgb(68, 165, 133);
}

#navbar-row {
    padding-left: 0;
    padding-right: 0;
    border: solid 2px black;
}

#title-row {
    padding-left: 0;
    padding-right: 0;
    border: solid 2px black;
    background-color: black;
}

.col-md-12 {
    padding: none;
}

.list-group {
    margin: 0;
}

#nav-time {
    color: rgb(68, 165, 133);
}

.card-text {
    text-justify: auto;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.card-text {
    font-size: 12px;
}

#forecast-card {
    padding: 5px;
    background-color: rgb(68, 165, 133);
    color: rgb(51, 50, 50);
}

#city-name {
    font-style: italic;
}