#title-card {
    text-align: center;
    background-color: rgb(48, 146, 146);
    color: white;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

#submit-button {
    background-color: rgb(48, 146, 146);
    color: white;
}

#forecast-card {
    float: left;
}

.card-body {
    margin: 0;
    padding: 0;

}

.row-no-padding {

    margin-left: 0;
    margin-right: 0;
}

#left-col {
    margin-right: 0;
    float: left;
    
}

#mid-col {
    margin-left: 0;
    margin-right: 0;

}

#right-col {
    margin: 0;

}

#data-container {
    padding: 0;
    border: solid 2px black;
}

#navbar-row {
    padding-left: 0;
    padding-right 0;
    border: solid 2px black;
}

#title-row {
    padding: 0;
    border: solid 2px black;
}

.col-md-12 {
    padding: none;
}

.list-group {
    margin: 0;
}

#nav-time {
    color: rgb(192, 161, 197);
}
